<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="https://ipacs-film.oss-cn-shenzhen.aliyuncs.com/dicom_ui/dist/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <link href="https://ipacs-film.oss-cn-shenzhen.aliyuncs.com/dicom_ui/dist/css/app.330aa94c.css" rel="preload" as="style">
    <link href="https://ipacs-film.oss-cn-shenzhen.aliyuncs.com/dicom_ui/dist/css/chunk-vendors.8140bef9.css" rel="preload" as="style">
    <link href="https://ipacs-film.oss-cn-shenzhen.aliyuncs.com/dicom_ui/dist/js/app.ad6668ed.js" rel="preload" as="script">
    <link href="https://ipacs-film.oss-cn-shenzhen.aliyuncs.com/dicom_ui/dist/js/chunk-vendors.92936d00.js" rel="preload" as="script">
    <link href="https://ipacs-film.oss-cn-shenzhen.aliyuncs.com/dicom_ui/dist/css/chunk-vendors.8140bef9.css" rel="stylesheet">
    <link href="https://ipacs-film.oss-cn-shenzhen.aliyuncs.com/dicom_ui/dist/css/app.330aa94c.css" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but basis doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id="app"></div>
<script src="https://ipacs-film.oss-cn-shenzhen.aliyuncs.com/dicom_ui/dist/js/chunk-vendors.92936d00.js"></script>
<script src="https://ipacs-film.oss-cn-shenzhen.aliyuncs.com/dicom_ui/dist/js/app.ad6668ed.js"></script>
</body>
</html>